.drag-wrapper {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;  
  background: white;
  opacity: 70%; 
  height: 300px;
  width: 200px;
  border-radius: 5px;

}

.body {
  background-image: "url(wallpapersden-11.png)";
  background-color: aqua;
}